
body{
  background-color: rgb(240,240,240);
  font-family: sans-serif;

} 
svg {
  border: 1px solid blue;
  max-width: 90%;
  max-height: 90vh;
  border-radius: 20px;
  margin: 10px auto;
  display: block;
}
svg text{
  font-size: 30px;
  font-weight: bold
}
#controls{
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  max-width: 90%;
  margin: 20px auto;
} 